#map-canvas {
    height: 30%;
    width: 100%;
    margin: 0 auto;
}

body {
    background-image: url("/resources/images/header.jpg");
    background-size: cover;
}

.routebtn {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

#panel {
    margin-top: 150px;
}

h4 {
    color: white;
}